@use '../../styles/vars';

.post {
  &__block {
    color: vars.$dark;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

   &__videoCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5em;
    border: 1px solid vars.$lightGrey;
    border-radius: vars.$btnRadius;
    padding: 1.5em;

    @media (min-width: 1100px) {
      width: calc(50% - 0.75em); /* 50% de largeur avec une marge de 0.75em entre les éléments */
      margin-right: 1.5em; /* Marge à droite pour les éléments à partir du deuxième */
      &:nth-child(2n) {
        margin-right: 0; /* Annuler la marge à droite pour les éléments pairs */
      }
    }

    @media (max-width: 1100px) {
      width: calc(100% - 1.5em); /* 100% de largeur avec une marge de 0.75em de chaque côté */
      margin-right: 0; 
      margin-left: 0.75em; 
      margin-bottom: 1.5em; 
    }
  }

  &__videoCardTitle {
    font-size: 1.3em;
    margin-bottom: 0.6em;
  }

  &__videoCardContent {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    @media (min-width: vars.$mobile) {
      padding-bottom: 3em;
    }
  }

  &__videoCardContent p {
    margin-bottom: 1.5em;
  }

  &__videoCardContent img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    @media (min-width: vars.$mobile) {
      width: 30%;
      max-width: 500px;
      min-width: 350px;
      cursor: pointer;
    }
  }

  &__videoCardContent a {
    color: vars.$orange;
  }
  
  &__videoCardContent blockquote {
    margin-left: 1.5em;
    font-style: italic;
    color: vars.$grey;
    @media (min-width: vars.$tablet) {
      margin-left: 2em;
    }
  }

  &__videoCardContent ul, &__videoCardContent ol {
    margin-left: 2em;
    line-height: vars.$lineHeight;
    @media (min-width: vars.$tablet) {
      margin-left: 3em;
    }
  }

   &__videoCardContent ol > li {
    list-style:decimal;
  }

   &__videoCardContent ul > li {
    list-style: disc;
  }

  &__video {
    display: flex;
    justify-content: center;
    @media (min-width: vars.$mobile) {
      justify-content: left;
    }
  }

  &__video-block {
    border: none;
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    @media (min-width: vars.$mobile) {
      height: 100%;
      width: 100%;
    }
  }
}

.wrapper {
@media (min-width: vars.$mobile) {
  padding-bottom: 5em;
}
}
