@use '../../styles/vars';



.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: vars.$dark;
  height: auto;
  padding-bottom: 2.5em;
  @media (min-width: vars.$mobile) {
    margin-bottom: 5em;
  }

  &__header {
    margin: 3em;
    line-height: 2.5em;
  }

  &__iframe-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (min-width: vars.$mobile) {
      align-items: center;
    }
  }
  &__iframe {
    margin-bottom: 1.5em;
    overflow: hidden;
    border: none;
    width: 500px;
    height: 1500px;
  }
}

