@use '../../styles/vars';

.button {
  border: none;
  border-radius: vars.$btnRadius;
  margin-top: 0.8em;
  padding: 1em 1.3em;
  font-family: inherit;
  text-align: left;
  
  &__plain, &__credits, &__about {
    background-color: vars.$orange;
    color: vars.$white;
    font-weight: bold;
    font-size: 1em;
    width: fit-content;
  }

  &__oneCategory {
    background-color: vars.$orange;
    color: vars.$white;
    font-weight: bold;
    font-size: 1em;
    width: fit-content;

    @media (min-width: vars.$mobile) {
      background-color: vars.$orange;
      color: vars.$white;
      font-weight: bold;
      font-size: 1em;
      width: 100%;
      padding: 1em 1em;
    }
  }

  &__oneCategory:hover, &__credits:hover, &__about:hover {
    @media (min-width: vars.$mobile) {
      background-color: vars.$dark;
    }
  }

  &__about {
    margin-top: 3em;
  }

  &__feed {
    background-color: vars.$orange;
    color: vars.$white;
    font-weight: bold;
    font-size: 1em;
    width: fit-content;

    @media (min-width: vars.$mobile) {
      background-color: vars.$orange;
      color: vars.$white;
      font-weight: bold;
      font-size: 1em;
      width: 100%;
      padding: 1em 1em;
    }
  }

  &__feed:hover {
    @media (min-width: vars.$mobile) {
      background-color: vars.$dark;
    }
  }

  &__podcast1, &__video1 {
    background-color: vars.$lightGrey;
    color: vars.$dark;
    font-weight: bold;
    font-size: 1em;
    width: fit-content;
    margin-right: 1em;
  }

   &__podcast1:hover, &__video1:hover {
    @media (min-width: vars.$mobile) {
      background-color: vars.$dark;
      color: vars.$white;
    }
  }

  &__podcast2, &__video2 {
    background-color: vars.$orange;
    color: vars.$white;
    font-weight: bold;
    font-size: 1em;
    width: fit-content;
    margin-right: 2em;
  }

  &__podcast2:hover, &__video2:hover {
    @media (min-width: vars.$mobile) {
      background-color: vars.$dark;
    }
  }
}
