@use '../../styles/vars';

.lieu {
  &__header {
    color: vars.$white;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
    background-color: vars.$dark;
    // background-image: url(../../../public/img/reunion.jpg);
  }
  &__header--yellowText {
    color: vars.$yellow;
  }
  &__header--blueText {
    color: vars.$blue;
    font-size: 1.2em;
  }
  
  &__main-block {
    color: vars.$dark;
    margin-bottom: 2em;
    padding: 1em;
    background-color: vars.$lightGrey;
    border-radius: vars.$btnRadius;
    line-height: vars.$lineHeight;
    @media (min-width: vars.$mobile) {
      margin: 2em 0 4em;
      padding: 2em;
    }
  }
  &__nav ul, &__article ul {
    margin-bottom: 2em;
  }

  &__nav-link {
    color: vars.$orange;
  }

  &__nav-link:hover {
    font-weight: 700;
  }

  &__article {
    margin-bottom: 2.5em;
  }

  &__article h2 {
    margin-bottom: 1em;
  }

  &__article h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: vars.$lineHeight;
  }

  &__article p {
    margin-bottom: 1.5em;
  }

  &__article--img-left {
    margin:auto;
    // padding-bottom: 1em;
    width: 100%;
    @media (min-width: vars.$mobile) {
    float: left;
    margin: 0 2em 2em 0;
    width: auto;
  }
}
&__article--img-center {
  margin:auto;
  width:100%;
  @media (min-width: vars.$mobile) {
    display: block;
    width:70%;
    max-width: 60%;
    margin:auto;
  }
}

}
