@use '../../styles/vars';

.hero {
  display: flex;
  background-color: vars.$dark;
  padding : 2.5em;
  @media (min-width: vars.$tablet) {
    position: relative;
    z-index: 1;
    min-height: 500px;
  }

  &__title {
    font-size: 3em;
    margin-bottom: 0.5em;
    @media (min-width: vars.$mobile) {
      font-size: 5em;
      margin-top: 0.5em;
    }
  }

  &__text {
    font-size: 1.5em;
    margin-bottom: 1.3em;
  }

  &__right-block {
    display: none;
    @media (min-width: vars.$mobile) {
      width: 40%; 
      display: flex;
      align-items:center;
      justify-content: center;
    }
  } 

  &__right-block-img {
      width: 100%; 
  } 

  &__left-block { 
    @media (min-width: vars.$mobile) {
      width: 60%; 
      margin-right: 2em;
      display: flex;
      flex-direction: column;
      justify-content:baseline;
    }
  } 
} 


