@use '../../styles/vars';

.container {
  &__credits {
    margin: 1em;
    background-color: vars.$lightGrey;
    border-radius: vars.$btnRadius;
    
    @media (min-width: vars.$tablet) {
      margin: 4em 5em;
    }
  }
}
