@use '../../styles/vars';

.container {
  &__credits {
    margin: 1em;
    background-color: vars.$lightGrey;
    border-radius: vars.$btnRadius;
    @media (min-width: vars.$tablet) {
      margin: 4em 5em;
    }
     @media (min-width: vars.$desktop) {
        margin: 4em 10em;
      }
  }
  &__about {
    margin: 2.5em;
    @media (min-width: vars.$tablet) {
      margin: 4em 5em 0;
    }
  }

  &__unipopia,  &__multimedia, &__parlonsen, &__lieu, &__notFound {
    margin: 2.5em;
    @media (min-width: vars.$tablet) {
      margin: 4em 5em 0;
    }
    @media (min-width: vars.$desktop) {
      margin: 4em 10em;
    }
  }

  &__podcast, &__livret, &__photo {
    margin: 2.5em;
    @media (min-width: vars.$mobile) {
      margin: 4em 5em;
    }
  }

  &__video, &__coeur {
      margin: 2em;
      @media (min-width: vars.$desktop) {
        margin: 4em 10em;
      }
    }

}


