@use "sass:color";

// FONTS

$bodyFont: 'Montserrat', sans-serif;
$headLinesFont: 'DK Zealand Regular', sans-serif;
$lineHeight: 1.5em;

//COLORS

$dark: #2f2f2f;
$grey: #7f7f7f;
$lightGrey: #cecece;
$white: #fff;
$orange: #d95033;
$yellow: #FEF102;
$blue: #019DF1;

// RADIUS

$btnRadius: 0.3em;

// BREAKPOINTS

$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
