@use 'reset';
@use 'vars';

@font-face {
  font-family: 'DK Zealand Regular';
  src: url('../assets/fonts/DK Zealand.otf');
}

body {
  background-color: vars.$white;
  min-height: 100vh;
  font-family: vars.$bodyFont;
  color: vars.$white;
  font-size: 100%;
  font-weight: 400;
}

h1 {
  font-size:4em;
}

h2 {
  font-size:2em;
}

p {
  line-height: vars.$lineHeight;
}

.strong {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.header {
  font-family: vars.$headLinesFont;
}

.active {
  font-weight: 700;
  color: vars.$orange;
}
