@use '../../styles/vars';

.oneCoeurh3 {
  font-size: 1.3em;
  margin-bottom: 0.6em;
}

.oneCoeur {
  &__block {
    color: vars.$dark;
    display: flex;
    flex-direction: column;
    @media (min-width: vars.$mobile) {
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 2em;
    }
  }

  &__card {
    margin-bottom: 1.5em;
    border: 1px solid vars.$lightGrey;
    border-radius: vars.$btnRadius;
    padding: 1em;
    width: 100%;
    @media (min-width: vars.$mobile) {
      max-width: 40%;
      margin: 0 1em;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    @media (min-width: vars.$mobile) {
      padding-bottom: 3em;
    }
  }

  &__content img {
    display: block;
    margin: auto;
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    max-height: 350px; /* Limitez la hauteur à 350 pixels */
    width: auto; /* Permet à l'image de conserver son ratio hauteur/largeur */
    height: auto; /* Permet à l'image de conserver son ratio hauteur/largeur */
  }

  &__text {
    font-size: 1em;
    color: vars.$lightGrey;
    margin-bottom: 1em;
  }

  
}
