@use '../../styles/vars';

.onePodcast {
  color: vars.$dark;

  &__em {
    font-style: italic;
  }

  &__header-block {
    margin: 2em 0;
    @media (min-width: vars.$mobile) {
      display: flex;
      align-items: center;
    }
  }

  &__header-block-img {
    margin-bottom: 1.5em;
    width: 70%;
    @media (min-width: vars.$mobile) {
      width: 15%;
      margin-right: 2em;
    }
  }

  &__header-block img {
    width: 100%;
  }
}

.audioPlayers-block {
  
  @media (min-width: vars.$mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.audioPlayer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  border: 1px solid vars.$lightGrey;
  border-radius: vars.$btnRadius;
  padding: 2em;

  &__player {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    
    @media (min-width: vars.$mobile) {
    flex-direction: row;
      padding: 1em;
      width: 50%;
    }
  }
  

  &__progressBar { 
    --seek-before-width: 0;   
    appearance: none;
    background: #F0F;
    border-radius: vars.$btnRadius;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;

    // Progressbar Safari
    &::-webkit-slider-runnable-track {
      background: #F0F;
      border-radius: vars.$btnRadius;
      position: relative;
      width: 100%;
      height: 11px;
      outline: none;
    }

    // Progressbar Firefox
    &::-moz-range-track {
      background: #F0F;
      border-radius: vars.$btnRadius;
      position: relative;
      width: 100%;
      height: 11px;
      outline: none;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    // Progressbar Safari & Chrome
    &::before {
      content: '';
      height: 11px;
      width: var(--seek-before-width);
      background-color: vars.$grey;
      border-top-left-radius: vars.$btnRadius;
      border-bottom-left-radius: vars.$btnRadius;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
    }

    // Progressbar Firefox
    &::-moz-range-progress {
      height: 11px;
      background-color: #F0F;
      border-top-left-radius: vars.$btnRadius;
      border-bottom-left-radius: vars.$btnRadius;
    }

    // Knobby chrome & safari
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: none;
      background: #ff6f00;
      cursor: pointer;
      position: relative;
      margin: -2px 0 0 0;
      z-index: 3;
      box-sizing: border-box;
    }
    &:active::-webkit-slider-thumb {
      transform: scale(1.2);
      background: #ff0000;
    }

    // Knobby firefox
    &::-moz-range-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: transparent;
      background: #ff6f00;
      cursor: pointer;
      position: relative;
      z-index: 3;
      box-sizing: border-box;
    }
    &:active::-moz-range-thumb {
      transform: scale(1.2);
      background: #ff0000;
    }
  }
}

.onePodcast a {
  color: vars.$orange;
}

.onePodcast a:hover {
    font-weight: 700;
}

.audioPlayer h3 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.audioPlayer p {
  font-size: 0.8em;
  margin-bottom: 1em;
}
