@use '../../styles/vars';

.desktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.navbar {
  display: block;
  background-color: vars.$white;
  color: vars.$dark;

  &__left-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }

  &__logo {
    font-size: 2em;
  }

  &__burger {
    width: 4em;
    // height: 4.5em;
    background-color: vars.$lightGrey;
    border: none; 
    border-radius: vars.$btnRadius;
  }

  &__burger-text {
    display: block;
    position: relative;
    bottom: 3px;
    font-size: 1em;
    color: vars.$white;
  }

  &__burger-svg {
    height: 3em;
    transition: transform 0.3s;
  }

  &__burger-svg-cross {
    height: 3em;
    transform: rotate(92deg);
    transition: transform 0.3s;
  }

  &__expanded {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 1em;
  }

  &__not-expanded {
    display: none;
  }

  &__expanded--element {
    padding: 1em;
    border-top: 1px solid vars.$dark;
  }
}
