@use '../../styles/vars';


.podcast {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$dark;
    padding : 2.5em;
    min-height: 300px;
  }

  &__header a {
    color: vars.$orange;
  }

  &__header a:hover {
    font-weight: 700;
  }

  &__header--title {
    text-align: center;
  }
  
  &__em {
    font-style: italic;
  }

  &__header-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    @media (min-width: vars.$mobile) {
      flex-direction: row;
    }
   
  }

  &__header-block-img {
    margin-bottom: 1.5em;
    width: 70%;
    @media (min-width: vars.$mobile) {
      width: 20%;
      margin-right: 2em;
    }
  }
}

.img-gresivaudan {
  width: 100%;
  max-width: 300px;
}
