@use '../../styles/vars';

.link:hover {
  color: vars.$orange;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: vars.$dark;
  margin-top: auto;
  padding: 2em;
  font-size: 0.8em;
  @media (min-width: vars.$mobile) {
    padding: 2em 4em;
    
  }

  &__separation {
    width: 95%;
    height: 0.6px;
    margin-top: 2em;
    background-color: vars.$grey;
    border: 0;
    @media (min-width: vars.$mobile) {
      width: 75%;
    }
  }

  &__topblock {
    @media (min-width: vars.$mobile) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2em;
    }
  }

  &__right-block {
    margin-bottom: 1.5em;
    @media (min-width: vars.$mobile) {
      width: 30%;
    }
  }

  &__right-block-title {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
  }

  &__left-block {
    display: flex;
    justify-content: space-between;
    @media (min-width: vars.$mobile) {
      display: flex;
      justify-content: space-around;
      width: 65%;
    }
  }

  &__left-block li {
    line-height: 2em;
    @media (min-width: vars.$mobile) {
      line-height: 1.5em;
    }
  }

  &__left-block-title {
    margin: 1.5em 0 1em;
    font-weight: 700;
    text-transform: uppercase;
    @media (min-width: vars.$mobile) {
      margin-bottom: 1em;
      font-weight: 400;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6em;
    color: vars.$grey;
  }

  &__fbimg-dsktop {
    display: none;
    @media (min-width: vars.$mobile) {
      display: block;
      margin-top: 1em;
      width: 8%;
    }
  }

  &__fbimg-mobile {
    margin-top: 1em;
    width: 20px;
    @media (min-width: vars.$mobile) {
      display: none;
    }
  }

}
